<div class="container">
    <div class="row">
        {% if currentStep == 'select' %}
            <div>
                {{ select|raw }}
            </div>
            {% if formSelectCountry %}
                {{ form_start(formSelectCountry) }}
                {{ form_end(formSelectCountry) }}
            {% endif %}
        {% endif %}

        {% if currentStep == 'confirm' %}
            {% if formConfirmDeOthers %}
                {{ disclaimer|raw }}
                {{ form_start(formConfirmDeOthers) }}
                {{ form_end(formConfirmDeOthers) }}
            {% endif %}

            {% if formConfirmUs %}
                {{ form_start(formConfirmUs) }}

                {{ disclaimer_us|raw }}

                {{ disclaimer_us_checkbox_1|raw }}
                {{ form_label(formConfirmUs.confirm_check1) }}
                {{ form_widget(formConfirmUs.confirm_check1, {'attr': {'class': 'form-control'}}) }}

                {{ disclaimer_us_checkbox_2|raw }}
                {{ form_label(formConfirmUs.confirm_check2) }}
                {{ form_widget(formConfirmUs.confirm_check2, {'attr': {'class': 'form-control'}}) }}

                {{ form_end(formConfirmUs) }}
            {% endif %}

            {% if formConfirmCaAuJp %}
                {{ form_start(formConfirmCaAuJp) }}

                {{ disclaimer_ca_au_jp|raw }}

                {{ form_end(formConfirmCaAuJp) }}
            {% endif %}

        {% endif %}
    </div>
</div>