<div class="container">
    <div class="row">
        {% if currentStep == 'select' %}
            <div>
                {{ select|raw }}
            </div>
            {% if formSelectCountry %}
                {{ form_start(formSelectCountry) }}
                {{ form_end(formSelectCountry) }}
            {% endif %}
        {% endif %}

        {% if currentStep == 'confirm' %}

            {% if formConfirmDeOthers %}
                {{ form_start(formConfirmDeOthers) }}
                <div class="text">
                    {{ disclaimer|raw }}
                </div>
                {{ form_end(formConfirmDeOthers) }}
            {% endif %}

            {% if formConfirmUs %}
                {{ form_start(formConfirmUs) }}

                <div class="text item1">
                    {{ disclaimer_us|raw }}
                </div>

                <div class="text item2">
                    <div class="form-widget">
                        {{ form_label(formConfirmUs.confirm_check1) }}
                        {{ form_widget(formConfirmUs.confirm_check1, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {{ disclaimer_us_checkbox_1|raw }}
                </div>

                <div class="text item3">
                    <div class="form-widget">
                        {{ form_label(formConfirmUs.confirm_check2) }}
                        {{ form_widget(formConfirmUs.confirm_check2, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {{ disclaimer_us_checkbox_2|raw }}
                </div>

                {{ form_end(formConfirmUs) }}
            {% endif %}

            {% if formConfirmCaAuJp %}
                {{ form_start(formConfirmCaAuJp) }}

                <div class="text item1">
                    {{ disclaimer_ca_au_jp|raw }}
                </div>

                {{ form_end(formConfirmCaAuJp) }}
            {% endif %}

        {% endif %}
    </div>
</div>